[flake8]
exclude = 
    */migrations/*,
    *_backup.py,
    */backup/*,
    *backup*.py,
    venv,
    __pycache__,
    .git,
    .github
max-line-length = 120
# Игнорируем все "косметические" предупреждения
ignore = 
    E124,
    E128,
    E201,
    E202,
    E203,
    E221,
    E222,
    E225,
    E226,
    E227,
    E228,
    E231,
    E241,
    E251,
    E261,
    E262,
    E265,
    E266,
    E271,
    E272,
    E301,
    E302,
    E303,
    E304,
    E305,
    E306,
    E401,
    E402,
    E501,
    E701,
    E702,
    E703,
    E711,
    E712,
    E713,
    E714,
    E721,
    E722,
    E731,
    E741,
    E742,
    E743,
    E901,
    E902,
    F401,
    F402,
    F403,
    F404,
    F405,
    F406,
    F407,
    F541,
    F601,
    F602,
    F621,
    F622,
    F631,
    F632,
    F633,
    F634,
    F701,
    F702,
    F703,
    F704,
    F705,
    F706,
    F707,
    F811,
    F812,
    F821,
    F822,
    F823,
    F831,
    F841,
    W291,
    W292,
    W293,
    W391,
    W503,
    W504,
    W601,
    W602,
    W603,
    W604,
    W605,
    W606